.players-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 900px) {

    .players-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 600px) {

    .players-grid {
        grid-template-columns: 1fr;
    }

}

.no-results {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 30px;
}